.wrapper {
  margin-top: 3rem;
}

.wrapper .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.wrapper .heading h5 {
  font-weight: 700;
}

.wrapper .jobsList {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.5rem;
}

@media (min-width: 1024px) {
  .wrapper .jobsList {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
