.wrapper {
  background-color: transparent;
  border: transparent;
  display: grid;
  place-items: center;
  cursor: pointer;
  width: 3rem;
  height: 100%;
}

.wrapper .themeIcon {
  font-size: 1.5rem;
  color: var(--text-color);
}
